In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
train_df = pd.read_csv(
    'dataset/dataTrain.csv',
    dtype={
        'f3': 'category',
    }
)
train_df['f3'] = pd.factorize(train_df.f3, sort=True)[0]
train_df

,id,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f38,f39,f40,f41,f42,f43,f44,f45,f46,label
0,81167,0,1,2,0,0,0,153,0,0,...,0,0,0,0,0,0,0,624,1539,0
1,50408,1,1,2,0,0,21,0,0,0,...,0,0,0,0,0,0,0,186,366,0
2,9114,0,0,0,36,36,120,0,0,0,...,0,0,0,0,0,0,0,24,48,1
3,53228,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,3,3,9,0
4,56280,1,1,2,9,51,294,0,0,0,...,0,0,0,0,0,0,0,42,141,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59867,181695,0,0,0,0,0,0,45,0,0,...,0,0,0,0,0,0,0,141,399,0
59868,181696,0,0,1,0,0,0,54,0,0,...,0,0,0,0,0,18,0,84,576,0
59869,181697,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,60,0,462,1074,1
59870,181698,0,0,0,0,36,0,0,183,0,...,0,0,0,0,0,0,0,420,0,0
59871,181699,0,1,2,0,0,102,18,0,0,...,0,0,0,0,0,0,75,0,375,1

In [9]:
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier

def get_model():
    return DecisionTreeClassifier(max_depth=3)

kf = KFold(5)
X = train_df.values[:, 1:-1]
y = train_df.values[:, -1]
for train_index, test_index in kf.split(X):
    trainX, trainY = X[train_index], y[train_index]
    testX, testY = X[test_index], y[test_index]
    model = get_model()
    model.fit(trainX, trainY)
    print(model.score(testX, testY))

0.8559498956158664
0.8506054279749478
0.8494237514615
0.86170035075998
0.7083681309503925

In [10]:
test_df = pd.read_csv(
    'dataset/dataA.csv',
    dtype={
        'f3': 'category',
    }
)
test_df['f3'] = pd.factorize(test_df.f3, sort=True)[0]
testX = test_df.values[:, 1:]
model = get_model()
model.fit(X, y)
pred = model.predict(testX)
pred_df = pd.DataFrame(
    data={
        'id': test_df.id,
        'label': pred,
    }
)
pred_df.to_csv('submission.csv', index=False)